body{
    font-family: Montserrat;
    background-color: black;
    scroll-behavior: smooth;
    transition: ease 0.6s;
}
*{
}
.row{
    height: 500px;
    padding: 0;
}
.col-md-8{
    height: inherit;
}
.main-pict-product{
    background: url('../images/laura-chouette-CtOA9wbFAdQ-unsplash.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100%;
    background-position: center;
    padding: 0;
    border-radius: 30px;
}
.jumbo2{
    height: 100%;
    padding: 0;
    margin: 0;
}


.content-1{
    height: 60%;
    margin: 0;
    color: white;
    font-family: Montserrat-extra-bold;
}

.jumbo2 .content-1 .box-content-1 
, .box-content-2 , .box-content-3
{
    height: 100%;
    position: relative;
    padding: 0;
    border-radius: 30px;
    background-color: #A0C3D2;
}
.box-content-1 h2 {
    display: inline-block;
    margin: 30px 20px;
}
.box-content-1 p {
    position: absolute;
    font-family: Montserrat-regular;
    max-width: 80%;
    margin: 20px 20px;
    font-size: 0.7rem;
    bottom: 0;
}
.jumbo2 >.content-2 , .jumbo2 >.content-3{
    height: 40%;
}

.jumbo2 >.content-2 >.box-content-2 , .jumbo2 >.content-3 >.box-content-3{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-content-3{
    background: url('../images/irene-kredenets-tcVH_BwHtrc-unsplash.jpg');
}
.box-content-2{
    background: url('../images/pict2.jpg');
}

#product-content {
    width: 100%;
    height:max-content; 
}
.body-product{
    height: auto;
    padding: 0;
}
.badges{
    font-family:Montserrat-extra-bold;
    height: fit-content;
}
.badges .badge {
    margin: 5px;
    text-decoration: none;
    border: none;
    transition: ease 0.30s;
    padding: 12px 20px 8px;
}
.badges .badge:hover{
    box-shadow: 2px 2px 10px #A0C3D2 ;
}
.header {
    margin: 5px;
    padding: 0;
    height: fit-content;
}
.head{
    margin: 10px 15px;
    text-transform: uppercase;
    font-size: 3rem;
    color: #f77070;
    text-shadow: white;
}
.product {
    height: fit-content;
    display: inline-block;
    padding: 0;
}
.rowDisplay{
    width: 100%;
    height: 100%;
    margin: 0;
}
.product .card {
    border-radius: 10px;
    border: none;
    margin: 10px;
}
.product .card .pict {
    max-width:100%;
    height: 400px;
    background-color: white;
    overflow: hidden;
    margin: auto;
    z-index: 2;
    border-radius: 10px;
    display: inline;
}
.card .card-text{
    font-size: 0.7rem;
}
.color-pallete {
    padding: 0;
    margin: 0;
}
.border-pallete{
    display: inline-block;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
    margin:0;
    cursor: pointer;
}
.color1{
    background-color: #8cddff;
}
.color2{
    background-color: #da5252;
}
.color3{
    background-color: #fdba3e;
}

.price{
    color: #414141;
}

.button-product{
    padding: 5px 12px;
    margin-top: 10px;
    cursor: pointer;
    transition: ease-in 0.5;
    background-color: #f77070;
    color: white;
}
.button-product:hover{
    color: black;
}
.product-content-all{
    transition: ease 0.5s;
}

.overflow{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    color: white;
}
.overflow{
    transition: ease 2s;
    opacity: 0;
    z-index: 6;
    background-color: #414141;
}
.content-modal{
    position: absolute;
    height: 60%;
    top: 50%;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    transition: ease 2s;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    z-index: 9 !important;
}
.image-content-left{
    max-height: 100%;
    padding: 0;
    position: relative;
    z-index: 4;
    overflow: hidden;
}
.image-content-left img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    max-width:100%; 
    margin: auto;
}
.right-content-overflow{
    background-color: white;
    color: black;
}

.right-content-overflow .body-overflow p{
    font-size: 10px;
    max-width: 70%;
    color: #535353;
    font-family: Montserrat-regular;
    margin: auto;
}
.right-content-overflow .card .card-body{
    margin: 0;
    color: #535353;
}
.right-content-overflow .card .content-card .pricing{
    text-align: left;
    width: 100%;
    color: #535353;
    margin: auto;
    height: fit-content;
}
.content-card .pricing .price::before{
    content: url('../icons/caret-left-fill.svg');
    display: inline-block;
    cursor: pointer;
    transform: rotate(270deg);
    transition: ease 0.5s;  
    width: fit-content;
}
.content-card .pricing .price::after{
    content: url('../icons/caret-right-fill.svg');
    display: inline-block;
    transform: rotate(270deg);  
    width: fit-content;
    padding-right: 0px;
    transition: ease 0.5s;
    margin-left: 3px;    
    cursor: pointer;
}

/* 
.content-card .pricing .amount {
    border: 1px solid yellow;
    max-width: 55%;
} */
.content-card .pricing h5 {
    color: #535353;
    margin-bottom: 5px;
}
.content-card .pricing .prices{
    float: right;
}
.content-card .pricing .prices::before{
    content: 'Rp. ';

}
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}
.box-social-media{
    position: absolute;
    margin: 7px;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    width: fit-content;
    padding: 0px 15px;
}
.box-social-media div {
    display: inline-block;
    margin-top:10px; 
}

.fas-fa-instagram{
    background: url('../icons/instagram.svg');
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in 0.2s;   
}
.fas-fa-instagram:hover{
filter: invert(22%) sepia(88%) saturate(7496%) hue-rotate(357deg) brightness(106%) contrast(112%);
}
.fas-fa-wa{
    background: url('../icons/whatsapp.svg');
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in 0.2s;
}
.fas-fa-wa:hover{
filter: invert(60%) sepia(27%) saturate(5693%) hue-rotate(82deg) brightness(116%) contrast(127%);
}
.fas-fa-facebook{
    background: url('../icons/facebook.svg');
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fas-fa-facebook:hover{
filter: invert(8%) sepia(99%) saturate(7346%) hue-rotate(249deg) brightness(106%) contrast(144%);
}
.exit{
    position: absolute;
    right: 0;
    overflow: hidden;
    top: 0;
    border-radius: 80%;
    padding: 0px 9px;
    color: white;
    background-color:#535353 ;
    z-index: 10;
    transition: ease-in 0.5s;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10px;
}
.exit:hover{
    transform:rotate(180deg);
    color: red;
}