<%- include('./partials/header',{judul:"E-commerse isa"}); %>
<body>
  <%- include('./partials/navbar.ejs'); %>
    <div class="jumbotron position-relative jumbotron-fluid">
      <div class="text-start content position-absolute">
        <div class="typing col-md-12">
          <h1 class="" id="display-jumbo">E-commerse</h1>
        </div>
        
          <p class="col-md-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nobis, necessitatibus eius veritatis deserunt corrupti beatae, incidunt quos exercitationem laudantium culpa ipsa cumque dolore! Sint corrupti aut atque delectus, expedita sapiente laboriosam quas facere quaerat pariatur impedit quasi voluptates ipsum tempora nobis nemo commodi dolore fuga saepe ducimus! Expedita veritatis voluptatum sunt ipsam illo adipisci quis mollitia labore, deleniti ad cupiditate corporis nisi nobis id. Nesciunt voluptatem autem vitae saepe veritatis adipisci provident a laudantium dolore officia reiciendis atque, magnam ea impedit qui est soluta, quae at et incidunt quas </p>
          <div class="icon-jumbo"> 
          <svg viewbox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path d="
            M 0, 78.5
            C 0, 14.130000000000004 14.130000000000004, 0 78.5, 0
            S 157, 14.130000000000004 157, 78.5
                142.87, 157 78.5, 157
                0, 142.87 0, 78.5
        " fill="#A0C3D2" transform="rotate(
            45,
            100,
            100
        ) translate(
            21.5
            21.5
        )"></path></svg>
        <img src="images/org.png" alt="" height="100%">
        </div>
      </div>
    </div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>