<%- include('./partials/header',{judul:"E-commerse isa",style:css}); %>
<body>
  <%- include('./partials/navbar.ejs'); %>
  <!-- Jumbotron/hero img -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><span>Luxury</span> <br> is in each detail</h1>
      <button class="btn tombol">Join Us</button>
    </div>
  </div>
  <!-- end Jumbotron/hero img -->

  <!-- What are we do -->
    <div id="company-purpose">
      <blockquote class="blockquote text-light text-capitalize">
        <p class="mb-0">Sensuality is an expression <br> of modern luxury</p>
        <p class="blockquote-footer">Lebo Grand</p>
      </blockquote>
    </div>
  <!-- end WAWD -->


  <!-- Best Seller -->
    <div id="best-seller" class=" container-fluid mb-3">
      <div class="row col-12">
        <h1 id="typo-best" class="best-typo">LUXXY</h1>
        <div class="picture1 images col-6"><span></span></div>
        <div class="picture2 images col-6"><span></span></div>
      </div>
    </div>
  <!-- End Best Seller -->

  <div id="top-product" class="mt-5 cards container-fluid">
    <h2>Top <span class="font-weight-bold">Product</span></h2>
    <br>
    <a href="#">More Product</a>
    <div id="top-product-cards" class="cards col-12 clearfix">
      <div class="card" style="width: 15rem;">
        <div class="head-pict">
            <!-- <img class="card-img-top" src="/images/lib.jpg" alt="Card image cap"> -->
        </div>
        <div class="card-body">
          <h6 class="text-center text-light">Judul</h6>
          <p class="text-light">Lorem ipsum amet consectetur adipisicing elit. Amet, at.</p>
          <button class="btn butt-btn">BUY</button>
        </div>
      </div>
      <div class="card" style="width: 15rem;">
        <div class="head-pict">
            <!-- <img class="card-img-top" src="/images/lib.jpg" alt="Card image cap"> -->
        </div>
        <div class="card-body">
          <h6 class="text-center text-light">Judul</h6>
          <p class="text-light">Lorem ipsum amet consectetur adipisicing elit. Amet, at.</p>
          <button class="btn butt-btn">BUY</button>
        </div>
      </div>
      <div class="card" style="width: 15rem;">
        <div class="head-pict">
            <!-- <img class="card-img-top" src="/images/lib.jpg" alt="Card image cap"> -->
        </div>
        <div class="card-body">
          <h6 class="text-center text-light">Judul</h6>
          <p class="text-light">Lorem ipsum amet consectetur adipisicing elit. Amet, at.</p>
          <button class="btn butt-btn">BUY</button>
        </div>
      </div>
      <div class="card" style="width: 15rem;">
        <div class="head-pict">
            <!-- <img class="card-img-top" src="/images/lib.jpg" alt="Card image cap"> -->
        </div>
        <div class="card-body">
          <h6 class="text-center text-light">Judul</h6>
          <p class="text-light">Lorem ipsum amet consectetur adipisicing elit. Amet, at.</p>
          <button class="btn butt-btn">BUY</button>
        </div>
      </div>
    </div>
  </div>
</body>


</html>