<%- include('partials/header.ejs',{judul : "E-commerse isa",style:"product"});  %>
<body>
    <%- include('partials/navbar.ejs') %>
  <div class="product-content-all">
    <div id="jumbo-product" class="container-fluid mt-5">
        <div class="row">
          <div class="col-md-6 p-2 jumbo1">
              <div class="main-pict-product col-md-12">
              </div>
          </div>
          <div class="col-md-6 row jumbo2">
            <div class="col-md-12 p-2 content-1">
              <div class="box-content-1 col-md-12">
                  <h2>
                    LOREM IPSUM IS GOOD! <br> FOO IS BITCH
                  </h2> 
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat repellat nemo odio rem ut reprehenderit officia perferendis harum, doloremque unde sequi veritatis, id ipsam vel amet modi porro sed tempora.</p>
              </div>
            </div>
            <div class="col-md-6 p-2 content-2">
              <div class="box-content-2 col-md-12"></div>
            </div>
            <div class="col-md-6 p-2 content-3">
              <div class="box-content-3 col md-12"></div>
            </div>
          </div>
          </div>
    </div>

    <div id="product-content" class="container-fluid mt-5">
      <div class="row body-product">
        <div class="badges col-12">
          <button class="badge badge-pill badge-light Bag">Bag</button>
            <button class="badge badge-pill badge-light Tote">Tote</button>
              <button class="badge badge-pill badge-light Adventure">Adventure</button>
            <button class="badge badge-pill badge-light Casual">Casual</button>
          <button class="badge badge-pill badge-light Bag float-right">Show All</button>
        </div>
        <div class="col-12 header montserrat-bold">
          <h4 class="head">Product</h4>
        </div>
        <div class="products-display col-12" id="product-display">
        <div class="row rowDisplay col-12">
          <div class="col-md-4 product">
            <div class="card">
              <div class="pict">
                <img class="card-img-top" src="/images/t.png" alt="Card image cap">
              </div>
              <div class="card-body">
                <div class="color-pallete">
                  <div class="color1 border-pallete"></div>
                  <div class="color2 border-pallete"></div>
                  <div class="color3 border-pallete"></div>
                </div>
                <div id="produk1" class="button-product regular-font badge">more</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 product">
            <div class="card">
              <div class="pict">
                <img class="card-img-top" src="/images/t.png" alt="Card image cap">
              </div>
              <div class="card-body">
                <div class="color-pallete">
                  <div class="color1 border-pallete"></div>
                  <div class="color2 border-pallete"></div>
                  <div class="color3 border-pallete "></div>
                </div>
                <div id="produk2" class="button-product regular-font badge">more</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 product">
            <div class="card">
              <div class="pict">
                <img class="card-img-top" src="/images/isaganteng.png" alt="Card image cap">
              </div>
              <div class="card-body">
                <div class="color-pallete">
                  <div class="color1 border-pallete"></div>
                  <div class="color2 border-pallete"></div>
                  <div class="color3 border-pallete "></div>
                </div>
                <div id="produk3" class="button-product regular-font badge">more</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 product">
            <div class="card">
              <div class="pict">
                <img class="card-img-top" src="/images/t.png" alt="Card image cap">
              </div>
              <div class="card-body">
                <div class="color-pallete">
                  <div class="color1 border-pallete"></div>
                  <div class="color2 border-pallete"></div>
                  <div class="color3 border-pallete"></div>
                </div>
                <div id="produk4" class="button-product regular-font badge">more</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 product">
            <div class="card">
              <div class="pict">
                <img class="card-img-top" src="/images/isaganteng.png" alt="Card image cap">
              </div>
              <div class="card-body">
                <div class="color-pallete">
                  <div class="color1 border-pallete"></div>
                  <div class="color2 border-pallete"></div>
                  <div class="color3 border-pallete "></div>
                </div>
                <div id="produk5" class="button-product regular-font badge">more</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 product">
            <div class="card">
              <div class="pict">
                <img class="card-img-top" src="/images/t.png" alt="Card image cap">
              </div>
              <div class="card-body">
                <div class="color-pallete">
                  <div class="color1 border-pallete"></div>
                  <div class="color2 border-pallete"></div>
                  <div class="color3 border-pallete "></div>
                </div>
                <div id="produk6" class="button-product regular-font badge">more</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div> 
<div class="overflow"></div>
<div class="content-modal row col-md-8">
  <div id="exit" class="exit montserrat-bold">X</div>
  <div class="image-content-left col-5">
    <h6 class="antonio m-3">Rp. 100000</h6>
    <img src="/images/irene-kredenets-tcVH_BwHtrc-unsplash.jpg" alt="">
  </div>  
  <div class="col-7 text-center right-content-overflow p-0">
      <div class="header-overflow mt-3 ">
        <h2 class="montserrat-bold fs-5">Lorem nih!</h2>
      </div>
      <div class="body-overflow mt-2">
        <div class="color-pallete">
          <div class="color1 border-pallete"></div>
          <div class="color2 border-pallete"></div>
          <div class="color3 border-pallete "></div>
        </div>
        <p class="mt-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, dolores minus numquam sed saepe aperiam expedita laborum odit error ipsa nesciunt odio dignissimos laboriosam quis dicta est iure facere accusantium. Commodi ipsa aliquam, voluptate voluptatum facilis expedita ad doloribus quis fuga sequi, unde possimus dolores accusamus quam quasi? Nam, vero.</p>
        <div class="card bg-light mt-3 mx-auto" style="max-width: 20rem; max-height: 10rem;">
          <div class="content-card">
            <h5 class="card-title antonio">Keranjang</h5>
            <div class="pricing antonio row">
              <h5 class="amount col-8">cart : <span class="price"> 0</span></h5>
              <h5 class="prices">0000000</h5>
            </div>
          </div>
        </div>
        
      </div>
      <div class="box-social-media bg-light">
          <div class="fas-fa-instagram"></div>
          <div class="fas-fa-wa"></div>
          <div class="fas-fa-facebook"></div>
      </div>
  </div>
</div>
</body>
    <script src="/js/product.js"></script>
  